body{
    background-color: #F0D3F7; 
}

/* #CACF85 */

#name{
    font-size: 90px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    height: 120px;
    width: 250px;   
    /* border:1px solid black; */
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 635px;
}

#name a{
    color: magenta;
    text-shadow: 1px 1px 2px black; 
    text-decoration: none;
}

#name a:hover{
    color: magenta;
    font-size: 80px;
    transition: color 3s, font-size 0.7s;
}


#links{
    width: 400px;
    background-color: #A57982;
    border-radius: 2%;
    transition: background-color 3s;
    /* padding: 50px; */
}

#links:hover{
    background-color: #EA9E8D;

}

#links div{
    height: 50px;
    width: 100px;
    margin: 15px;
    display: inline-block;
    /* border: 1px solid black; */
}

#github{
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}

#github a{
    text-decoration: none;
    color: #F45B69;
    
}

#discord{
    font-size: 40px;
    color: #F45B69;
    text-shadow: 1px 1px 2px black;
}

#fuckyou{
    font-size: 40px;
    color: #F45B69;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}


#links div:hover{
    font-size: 45px;
    transition: font-size ease-in-out 0.7s;
}

