body{
    background-color: #F0D3F7; 
}

/* #CACF85 */

#name{
    font-size: 90px;
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    height: 120px;
    width: 250px;   
    /* border:1px solid black; */
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 635px;
}

#name a{
    color: magenta;
    text-shadow: 1px 1px 2px black; 
    text-decoration: none;
}

#name a:hover{
    box-shadow: 0 0.1em 0.5em -0.5em #ff00d4;
    text-shadow: 2px 1px 2px black; 
    color: magenta;
    font-size: 80px;
    transition: color 3s, font-size 0.7s, box-shadow 0.25s, text-shadow 0.2s;
}


#links{
    width: 400px;
    background-color: #A57982;
    border-radius: 2%;
    /* padding: 50px; */
}

#links:hover{
    background-color: #EA9E8D;
    box-shadow: 0 0.1em 0.5em -0.4em #ff00d4;
    transition: background-color 3s, box-shadow 0.25;
}

#links div:hover{
    font-size: 45px;
    text-shadow: 2px 1px 2px black;
    transition: font-size ease-in-out 0.2s;
    color:#f72738
}

#links div{
    height: 50px;
    width: 100px;
    margin: 15px;
    display: inline-flex;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    /* border: 1px solid black; */
}

#github{
    font-size: 40px;
    text-shadow: 1px 1px 2px black;
}

#github a{
    text-decoration: none;
    color: #f05360;
}

#github a:hover{
    font-size: 45px;
    text-shadow: 2px 1px 2px black;
    transition: font-size ease-in-out 0.2s;
    color:#f72738;
    cursor:pointer;
}

#discord button{
    font-size: 35px;
    border: 0;
    color: #F45B69;
    text-shadow: 1px 1px 2px black;
    background: none;
}

#discord button:hover{
    font-size: 40px;
    text-shadow: 2px 1px 2px black;
    transition: font-size ease-in-out 0.2s;
    color:#f72738;
    cursor: pointer;
}

#hi button{
    font-size: 35px;
    border: 0;
    color: #F45B69;
    text-shadow: 1px 1px 2px black;
    background: none;
    margin: 0 auto;
}

#hi button:hover{
    font-size: 40px;
    text-shadow: 2px 1px 2px black;
    transition: font-size ease-in-out 0.2s;
    color:#f72738;
    cursor: pointer;
}

